<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- (1)共通にしたいheadをfragment化する -->
<head th:fragment="head(title)">
	<!-- <head th:fragment="meta_header(title,links,scripts)">	-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- (2)共通で読み込むCSS/JS -->
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <script	type="text/javascript" th:src="@{/js/common.js}"></script>
    <!-- (3)タイトルのフォーマット -->
    <title th:text="${title}+' | springboottraining'"></title>

    <!-- (4)各View固有で読み込むもの
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
	-->
</head>
	<body>
    	<header th:fragment="header">
			<p style="color: white; font-size: smaller">↓↓↓ this is header fragment. ↓↓↓</p>
			<div class="loginInfoArea">
				<p sec:authorize="${isAnonymous()}" >[Not log in]</p>
				<p sec:authorize="${isAuthenticated()}" > [log in] <span sec:authentication="principal.username">???</span>.<br>
					description: <span sec:authentication="principal.description">???</span>
					<span sec:authorize="hasAuthority('ADMIN')"><br>Authority: ADMIN</span>
					<span sec:authorize="hasAuthority('MANAGER')"><br>Authority: MANAGER</span>
					<span sec:authorize="hasAuthority('USER')"><br>Authority: USER</span>
				</p>
			</div>
    	    <a th:href="@{'/home'}"	class="iconContainer">
				<img th:src="@{/images/home_blue.jpg}" onmouseover="iconMouseover(this)" th:onmouseout="iconMouseout(this)" alt="home" class="activeIcon" />
			</a>
			<span sec:authorize="${isAnonymous()}" class="iconContainer">
				<img th:src="@{/images/human_gray.jpg}" alt="home" class="inactiveIcon"/>
			</span>
			<a sec:authorize="${isAuthenticated()}" th:href="@{'/myprofile'}" class="iconContainer">
				<img th:src="@{/images/human_blue.jpg}" onmouseover="iconMouseover(this)" th:onmouseout="iconMouseout(this)" alt="myprofile" class="activeIcon"/>
			</a>
			<a th:href="@{'/home'}"	class="iconContainer">
				<img th:src="@{/images/security_blue.jpg}" onmouseover="iconMouseover(this)" th:onmouseout="iconMouseout(this)" alt="home" class="activeIcon" />
			</a>
			<span sec:authorize="${isAnonymous()}" class="iconContainer">
				<img th:src="@{/images/logout_gray.jpg}" alt="home" class="inactiveIcon"/>
			</span>
			
			<!--
			<button th:unless="${username} == null" form="logout_form" class="iconContainer">
				<img th:src="@{/images/logout_blue.jpg}" onmouseover="iconMouseover(this)" th:onmouseout="iconMouseout(this)" alt="home" class="activeIcon" />
			</button>
			<form id="logout_form" th:action="@{/logout}" method="post" style="visibility: hidden;">
				<input type="submit"/>
			</form>
			-->
			<a sec:authorize="${isAuthenticated()}" th:href="@{'/logout'}" class="iconContainer">
				<img th:src="@{/images/logout_blue.jpg}" onmouseover="iconMouseover(this)" th:onmouseout="iconMouseout(this)" alt="home" class="activeIcon" />
			</a>

			<p style="color: white; font-size: smaller">↑↑↑ this is header fragment. ↑↑↑</p>
			<div style="border: 4px solid black;"></div>
    	</header>
		
		<div th:fragment="messageArea">
			<ul th:if="${errorMessageList} != null" class="messageBoxError">
				<li th:each="m : ${errorMessageList}">
					<span th:text="${m}"></span>
				</li>
			</ul>
			<ul th:if="${infoMessageList} != null" class="messageBoxInfo">
				<li th:each="m : ${infoMessageList}">
					<span th:text="${m}"></span>
				</li>
			</ul>
		</div>
	
		<footer th:fragment="footer">
			<div style="border: 4px solid black;"></div>
			<p style="color: white; font-size: smaller"> ↓↓↓ this is footer fragment. ↓↓↓</p>
			<p style="text-align: center;"> application version is <span th:text="${buildInfoProperty.version}"></span><br>
			Copyright © 2024 Shohei Sawachika</p>
			<p style="color: white; font-size: smaller"> ↑↑↑ this is footer fragment. ↑↑↑</p>
		</footer>
	</body>
</html>