<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<!-- ■□■□ ページタイトルを引数にhead()を呼び出す ■□■□ -->
	<head th:replace="common :: head('home')"></head>
    <body>
	    <div th:replace="common :: header"></div>
		<div th:replace="common :: messageArea"></div>
		<!-- ■□■□ ここから個別ページのコンテンツ ■□■□ -->
        <h1>Welcome!</h1>
        <p>
            Click <a th:href="@{/hello}">here</a> to see a greeting.
        </p>
		<!-- ■□■□ ここまで個別ページのコンテンツ ■□■□ -->
        <div th:replace="common :: footer"></div>
</body>
</html>